body {
	font-family: ÇlÇr Çoñæí©, ç◊ñæí©ëÃ;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
  background-color: #f6f6f6; 
}

td, th, input, select, textarea, optgroup {
	font-family: ÇlÇr Çoñæí©, ç◊ñæí©ëÃ;
	font-size: 11px;
}

a:link {
  color: #0240a3;
}

a:visited {
  color: #0240a3;
}

a:active {
  color: #000000;
}

img {
  border: none;
}

legend {
  white-space: nowrap;
}

.displayNone {
  display: none !important;
}

/* --- loader ---*/

#loader {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#loader td {
  padding: 3px;
  background: #ffffff;
}

#loader p {
  border: 3px solid #6E89DD;
  padding: 10px;
  margin: 0;
  background: #EEF0FC;
}

#loader img {
  float: left;
  margin-right: 12px;
}

#loader strong {
  display: block;
  margin-bottom: 3px;
}

#loaderContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: expression('absolute');
  height: expression(document.documentElement.scrollHeight+'px');
  width: expression(document.documentElement.scrollWidth+'px');
  z-index: 1000;
}

#loaderContainer td {
	padding-top: 150px;
	vertical-align: top;
	text-align: center;
	background-image: url(../css/scalastica/images/semi-transparent.gif);
}

#loaderContainer td td {
	padding-top: 3px;
	text-align: left;
}

.scrollingBox {
  overflow: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

table.scrollingBoxBorder {
 border: 1px solid #8daac4; 
 background-color: #FFFFFF;
}

div.scrollingBoxAround {
 margin-right: 1px;
}

.noBold {
  font-weight: normal;
}