
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Logout_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilefooter */
.Logout_mobilefooter {
	min-height:38px;
}