#fldset-power {
  margin-left: 405px;
}

fieldset > legend {
padding-top: 0;
padding-left: 0;
margin-left: 0;
padding-bottom: 2px;
}

fieldset#fldset-power > legend {
  padding-left: 30px;
}

html>body #contexthelp {
  height: 100px;
}

tbody.showVisibility tr,
.visibilityAdminMode tbody.adminOnlyVisibility tr,
.visibilityControlMode tbody.customizableControl tr {
  display: table-row;
}

.hideVisibility tr,
.hideByDefault tr,
.adminOnlyVisibility tr {
  display: none;
}

tbody.hideVisibility,
tbody.hideByDefault,
tbody.adminOnlyVisibility {
  display: table-row-group;
}

